* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  /* display: grid;
  justify-content: center;
  align-items: center; */
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 330px;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

.presentation {
  display: grid;
  background-color: white;
  border-radius: 2rem;
  line-height: 1.5;
}

.description {
  display:  grid;
  gap: 25px;
  padding: 25px;
}

.item {
  display: grid;
}

.image {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}


.title {
  color: hsl(223, 47%, 23%);
}

.information {
  /* padding: 0px 60px; */
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  text-align: center;
}

.plan {
  background: hsl(225, 100%, 98%);
  border-radius: 8px;
  padding: 16px;
  display: grid;
  grid-auto-flow: column;
  font-weight: bold;
}

.value {
  font-weight: normal;
  color: hsl(224, 23%, 55%);
}

.button-pay {
  background: hsl(245, 75%, 52%);
  padding: 16px;
  border-radius: 8px;
  color: aliceblue;
  font-weight: bold;
  box-shadow: 0px 20px 20px 0px hsl(245, 75%, 52%, 0.2);
  border: none;
  cursor: pointer;
}

.cancel {
  font-size: 16px;
  font-weight: bold;
  color: hsl(224, 23%, 55%);
  text-decoration: none;


  
}
